<div class="row">
	
<h1>Modificando autobus</h1>
</div>

<%= render 'form' %>
<div class="row">
	
<%= link_to 'Mostrar', @autobus, class:"button" %>
<%= link_to 'Atras', autobuses_path, class:"button" %>
</div>
