<div class="row">
	<h1>Modificando asiento</h1>
</div>

<%= render 'form' %>
<div class="row">
	
	<%= link_to 'Mostrar', @asiento, class:"button" %>
	<%= link_to 'Atras', asientos_path, class:"button" %>
</div>
