<div class="row">
	
<h1>Actualizando precio de boleto</h1>
</div>

<%= render 'form' %>
<div class="row">
	
<%= link_to 'Mostrar', @precio_boleto,class:"button" %>
<%= link_to 'Atras', precio_boletos_path,class:"button" %>
</div>
