<div class="row">
	<div class="large-12 columns">
		<h3>Crear Asientos para Autobus</h3>
	</div>
</div>
<div class="row">
	<div class="large-3 columns">
		<h5>Cantidad de Asientos:</h5>
		<input type="number"></input>
	</div>
	<div class="large-7 columns">
		<h5>Autobus:</h5>
		<%= collection_select(:asiento, :autobus, @autobuses,:id, :codigo) %>
	</div>
	<div class="large-2 columns">
	</div>
</div>