<div class="row">
	<h1>Modificando Precio de Paquete</h1>
</div>

<%= render 'form' %>

<div class="row">
	<%= link_to 'Mostrar', @precio_paquete, class:"button" %>
	<%= link_to 'Atras', precio_paquetes_path, class:"button" %>
</div>