<div class="row">
	<div class="large-12 columns">
		<h1>Asignar bus a empleado</h1>
	</div>
</div>
<div class="row">
	<div class="panel">
		<h3>Conductores Disponibles</h3>
		<%= collection_select(:empleado, :autobus_id, @empleados, :id, :nombre, selected: :id_empleado) %>
	</div>

	<div class="panel">
		<h3>Autobuses Disponibles</h3>
		<%= collection_select(:empleado, :autobus_id, @buses, :id, :codigo, selected: :id_autobus) %>
	</div>
	<div class="panel">
		<%= link_to "Asignar",:controller => :asignar_bus_a_empleado,  :action => :asignar %>
	</div>
</div>	
