<div class="row">
<h1>Modificar encomienda</h1>
	
</div>

<%= render 'form' %>
<div class="row">
	
<%= link_to 'Mostrar', @encomienda , class:"button"%>
<%= link_to 'Atras', encomiendas_path , class:"button"%>
</div>
