<div class="row">
	<h1>Modificando terminal</h1>
</div>

<%= render 'form' %>

<div class="row">
	<%= link_to 'Show', @terminal, class:"button" %>
	<%= link_to 'Back', terminals_path, class:"button" %>
</div>
