<div class="row">
	<h1>Modificando boleto</h1>
	
</div>

<%= render 'form' %>

<div class="row">
	<%= link_to 'Show', @boleto, class:"button" %>
	<%= link_to 'Back', boletos_path, class:"button" %>
</div>
